body{
  background-color:#ff2faf;
  
  /*#ffc4c4*/
}
main{
  align-items: center;
}
.cover{
 background-image: url("cover.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  background-size: contain;
    border: 7px solid rgb(255, 255, 255);
    max-width: 650px;
    background-color:white ;
}